---
layout: default
title: Instalec - Installatiebedrijf, totaalinrichting van kippenstallen, varkensstallen en algemene elektriciteit uit Moorslede. Projecten - Algemene elektriciteit
---
<div class="project-page">
  <div class="sub-nav sub-nav-house">
    <div class="sub-nav-lockup">
      <div class="nav-col nav-col-small">
        <a href="{{ "/projecten/kippenstallen/" | prepend: site.baseurl }}">
          <img class="small-icon" src="{{ "/img/icon_chicken.png" | prepend: site.baseurl }}" alt="kippenstallen">
          <h2 class="chicken-title small-title">Kippenstallen</h2>
        </a>
      </div>
      <div class="nav-col">
        <img class="big-icon" src="{{ "/img/icon_house.png" | prepend: site.baseurl }}" alt="algemene elektriciteit">
        <h2 class="house-title big-title">Algemene elektriciteit</h2>
      </div>
      <div class="nav-col nav-col-small">
        <a href="{{ "/projecten/varkensstallen/" | prepend: site.baseurl }}">
          <img class="small-icon" src="{{ "/img/icon_pig.png" | prepend: site.baseurl }}" alt="varkensstallen">
          <h2 class="pig-title small-title">Varkensstallen</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="project-images">
    <h3>Projecten</h3>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/1.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Elektrische kast">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/1_thumb.jpg" | prepend: site.baseurl }}" alt="Elektrische kast">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/2.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Nutsvoorzieningen elektriciteit">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/2_thumb.jpg" | prepend: site.baseurl }}" alt="Nutsvoorzieningen elektriciteit">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/3.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Nutsvoorzieningen elektriciteit">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/3_thumb.jpg" | prepend: site.baseurl }}" alt="Nutsvoorzieningen elektriciteit">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/4.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Elektrische kast">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/4_thumb.jpg" | prepend: site.baseurl }}" alt="Elektrische kast">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/5.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Industriële led-verlichting">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/5_thumb.jpg" | prepend: site.baseurl }}" alt="Industriële led-verlichting">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/6.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Elektrische kast - particulier">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/6_thumb.jpg" | prepend: site.baseurl }}" alt="Elektrische kast - particulier">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/7.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Industriële led-verlichting">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/7_thumb.jpg" | prepend: site.baseurl }}" alt="Industriële led-verlichting">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/8.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Buiten led-verlichting">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/8_thumb.jpg" | prepend: site.baseurl }}" alt="Buiten led-verlichting">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/9.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Stroomvoorziening industrie">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/9_thumb.jpg" | prepend: site.baseurl }}" alt="Stroomvoorziening industrie">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/10.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Kabelgoten industrie">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/10_thumb.jpg" | prepend: site.baseurl }}" alt="Kabelgoten industrie">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/11.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Elektrische kast">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/11_thumb.jpg" | prepend: site.baseurl }}" alt="Elektrische kast">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/elektriciteit/12.jpg" | prepend: site.baseurl }}" data-lightbox="elektriciteit" data-title="Elektrische kast + nutsvoorziening">
      <img class="project-image" src="{{ "/img/projecten/elektriciteit/12_thumb.jpg" | prepend: site.baseurl }}" alt="Elektrische kast + nutsvoorziening">
    </a>
  </div>
  <div class="project-content">
    <div>
      <p>
        Energiebesparende installaties zijn uw investering in de toekomst.
        Wij bouwen uw huidig netwerk om naar de nieuwe standaarden.
        We garanderen een lange levensduur van onze installatie.
        Na het project staan wij tot uw dienst voor onderhoud van de door ons
        geplaatste of andere elektrische installaties.
      </p>
      <p>
        Wij ondersteunen uw volledige nood aan elektriciteitswerken:
      </p>
      <ul>
        <li>
          {% include icons/checkmark.svg %} plaatsen van zekeringskasten, sturings- en omschakelkasten
        </li>
        <li>
          {% include icons/checkmark.svg %} automatisering van alle processen
        </li>
        <li>
          {% include icons/checkmark.svg %} verlichting met lichtstudie op maat
        </li>
        <li>
          {% include icons/checkmark.svg %} camerabewaking
        </li>
        <li>
          ...
        </li>
      </ul>
      <p>
        Bovendien zorgen we voor een gemakkelijke bediening met complete centralisatie
        van de besturing die toelaat om via computer, tablet of smartphone uw bedrijf op
        te volgen of aanpassingen door te voeren.
      </p>
      <p>
        Voor vragen of problemen kan u altijd op ons rekenen. Wij zijn steeds bereikbaar.
      </p>
    </div>
  </div>
</div>
