footer
  text-align: center
  padding-bottom: 20px

  .logo-footer
    margin-top: -36.5px

    svg
      +size(75px)

    #inner
      fill: white

    #outer
      fill: $bgcolor


  .title-footer
    font-family: 'DIN Offc Pro', sans-serif
    text-transform: uppercase
    color: $bgcolor
    letter-spacing: 0.10em
    font:
      size: 40px
      weight: 500

  .title-footer-sub
    font-family: 'DIN Offc Pro', sans-serif
    text-transform: uppercase
    color: $bgcolor
    line-height: 0%
    letter-spacing: 0.19em
    font:
      size: 15px
      weight: 500

  .contact-footer
    margin-top: 45px
    line-height: 50%
    letter-spacing: 0.08em
    font:
      size: 12px
      weight: bold
