header
  color: white
  height: 124px
  background-color: $bgcolor
  background-size: cover
  font-family: 'DIN Offc Pro', sans-serif
  text-transform: uppercase
  display: flex

  a
    color: white

  h1
    margin: 7px 0 0 10px
    letter-spacing: 0.09em
    font:
      size: 50px
      weight: 500

.h1-sub
  margin: 0 0 0 10px
  letter-spacing: 0.20em
  line-height: 0%
  font:
    size: 18px
    weight: 500

.logo
  margin: 0 0 0 14%

.logo-title
  text-align: center
  float: left

.logo-svg
  float: left
  margin: 40px auto

  svg
    +size(50px)

  .inner
    fill: $bgcolor

  .outer
    fill: #FFFFFF

@media (min-width: 785px)
  header
    background: url(../img/bgr_topnav.jpg) center center

@media (max-width: 1400px)
  .logo
    margin: 0 0 0 10%

@media (max-width: 1200px)
  .logo
    margin: 0 0 0 30px

@media (max-width: 1100px)
  .logo
    margin: 0 0 0 20px

@media (max-width: 700px)
  .logo
    margin: 0 0 25px 0
    width: 100%
    text-align: center

  .logo-title
    width: 100%
    margin: 0

  .logo-svg
    width: 100%
    margin: 0

  header
    width: 100%
    display: table

    h1
      margin: 0 0 0 10px
