header
  color: white
  height: 124px
  background: url(../img/bgr_topnav.jpg) center center
  background-size: cover
  font-family: 'DIN Offc Pro', sans-serif
  text-transform: uppercase

  h1
    float: left
    margin: -5px 0 0 10px
    letter-spacing: 0.10em
    font:
      size: 50px
      weight: 500

  nav
    float: right
    margin: 30px 60px 0 0
    a
      display: inline-block
      margin-left: 60px

  .logo
    +size(50px)
    margin: 20px 0 0 40px
    //background: url(../img/logo.png)
    float: left

    #inner
      fill: #E52821

    #outer
      fill: #FFFFFF
