nav
  float: right
  margin: 44px 557px 0 0
  letter-spacing: 0.02em
  font:
    size: 18px

  a
    //display: inline-block
    //color: white
    //text-decoration: none
    //margin-left: 42px

  ul
    list-style-type: none
    margin: 0
    padding: 0
    position: absolute

  li
    display: inline-block
    float: left
    margin-right: 1px

  li a
    display: block
    min-width: 140px
    height: 50px
    text-align: center
    line-height: 50px
    color: white
    background: $bgcolor
    text-decoration: none

  li:hover a
    background: white
    color: $bgcolor

  li:hover ul a
    background: white
    color: black
    height: 40px
    line-height: 40px

  li:hover ul a:hover
    background: #EAEAEA
    color: black

  li ul
    display: none

  li ul li
    display: block
    float: none

  li ul li a
    width: auto
    min-width: 100px
    padding: 0 20px

  ul li a:hover + .hidden, .hidden:hover
    display: block

@media screen and (max-width : 760px)
  nav
    ul
      position: static
      //display: none

    li
      margin-bottom: 1px

    ul li, li a
      width: 100%
