nav
  margin: 0 3% 0 auto
  width: 393px
  letter-spacing: 0.02em
  font:
    size: 18px

  ul
    list-style-type: none
    margin: 0
    padding: 0
    position: absolute

  li
    display: inline-block
    float: left
    margin-right: 1px

  li a
    display: block
    min-width: 130px
    height: 124px
    text-align: center
    line-height: 124px
    color: white
    text-decoration: none

  li:hover a
    background: white
    color: $bgcolor

  li:hover ul a
    background: white
    color: black
    height: 40px
    line-height: 40px

  li:hover ul a:hover
    background: #EAEAEA
    color: black

  li ul
    display: none

  li ul li
    display: block
    float: none

  li ul li a
    width: auto
    min-width: 110px
    padding: 0 35px
    margin-left: -94.75px
    text-align: right

  ul li a:hover + .hidden, .hidden:hover
    display: block

@media screen and (min-width: 980px)
  nav
    margin: 0 7% 0 auto

@media screen and (min-width: 1290px)
  nav
    margin: 0 10% 0 auto

@media screen and (max-width: 700px)
  nav
    width: 100%
    margin-top: 180px

    ul
      position: static

    li a
      height: 50px
      line-height: 50px

    ul li, li a
      width: 100%

    li ul li a
      margin-left: 0
      padding: 0
      text-align: center
