---
layout: default
title: Instalec - Projecten - Kippenstallen
---
<div class="project-page">
  <div class="sub-nav sub-nav-chicken">
    <div class="sub-nav-lockup">
      <div class="nav-col nav-col-small">
        <a href="{{ "/projecten/varkensstallen/" | prepend: site.baseurl }}">
          <img class="small-icon" src="{{ "/img/icon_pig.png" | prepend: site.baseurl }}" alt="varkenstallen">
          <h2 class="pig-title small-title">Varkensstallen</h2>
        </a>
      </div>
      <div class="nav-col">
        <img class="big-icon" src="{{ "/img/icon_chicken.png" | prepend: site.baseurl }}" alt="kippenstallen">
        <h2 class="chicken-title big-title">Kippenstallen</h2>
      </div>
      <div class="nav-col nav-col-small">
        <a href="{{ "/projecten/algemene-elektriciteit/" | prepend: site.baseurl }}">
          <img class="small-icon" src="{{ "/img/icon_house.png" | prepend: site.baseurl }}" alt="algemene elektriciteit">
          <h2 class="house-title small-title">Algemene elektriciteit</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="project-content">
    <h3>Projecten</h3>
    <div>
      <p>
        Om in de intensieve veehouderij topprestaties te leveren en constant
        een hoge gezondheidsstatus te bereiken, op een kostenbewuste manier, is
        een doeltreffende agrarische klimaatregeling een noodzaak.
        Wij willen jullie helpen om dit te realiseren
        op maat van uw bedrijf en uw toekomstplannen.
      </p>
      <p>
        We installeren:
        <ul>
          <li>
            {% include icons/checkmark.svg %} pc - smartphone compatibele klimaatcomputers met automatische
            updates en gratis gegevensdatabank
          </li>
          <li>
            {% include icons/checkmark.svg %} ventielen met windcompensatieregeling
          </li>
          <li>
            {% include icons/checkmark.svg %} energiezuinige ventilatoren: nok- en lengteventilatie
          </li>
          <li>
            {% include icons/checkmark.svg %} uw gewenste kachels: gas/olie gestookt of verwarmd met water
          </li>
          <li>
            {% include icons/checkmark.svg %} warmtewisselaars
          </li>
          <li>
            {% include icons/checkmark.svg %} correct dimbare led-verlichting
          </li>
          <li>
            ...
          </li>
        </ul>
        </p>
        <p>
          We werken steeds met bewezen apparatuur met een goede prijs/kwaliteitsverhouding.
        </p>
        <p>
          Hierbij kunnen wij u zowel een totaalinrichting als een oplossing voor uw specifieke noden aanbieden.
          We volgen de evoluties op de voet en sturen bij waar nodig zodanig dat we optimale prestaties leveren.
        </p>
    </div>
  </div>
  <div class="project-images">
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/1.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/1_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/2.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/2_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/3.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/3_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/4.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/4_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/6.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/6_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/7.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/7_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
    <a class="project-image-link" href="{{ "/img/projecten/kippenstallen/9.jpg" | prepend: site.baseurl }}" data-lightbox="kippenstallen" data-title="Warmtewisselaar">
      <img class="project-image" src="{{ "/img/projecten/kippenstallen/9_thumb.jpg" | prepend: site.baseurl }}" alt="kippenstallen">
    </a>
  </div>

</div>
